@media (max-width: 768px) {
  .menu-link {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-link {
    display: none;
  }
  .logo a img {
    width: 70%;
  }
  .addto-cart {
    font-size: 16px;
  }
  .addto-cart img {
    width: 20px;
  }
  .banner {
    margin-bottom: 0;
  }
  .banner-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-left {
    width: 100%;
  }
  .banner-rigt {
    width: 100%;
  }
  .banner-left h1 {
    font-size: 24px;
    margin-top: 30px;
  }
  .banner-left p {
    width: auto;
    font-size: 14px;
  }
  .section-title {
    padding: 15px 0;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .section-title p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section-title p br {
    display: none;
  }
  .plant-seller {
    padding: 50px 0;
  }
  .plant-area {
    padding-bottom: 0px;
  }
  .plant-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-name,
  .flower-price,
  .cart-btn {
    font-size: 14px;
  }
  .plant-seller-wrapper {
    display: block;
  }
  .trusted {
    display: none;
  }
  .plant-seller-right {
    margin-left: 0;
  }
  .plant-seller-content h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  .plant-seller-content h2 br {
    display: none;
  }
  .plant-seller-content p {
    margin-bottom: 25px;
    margin-left: 30px;
    padding-right: 0;
    font-size: 16px;
  }
  .deals-wrapper {
    flex-direction: column;
  }
  .deals-left {
    width: 100%;
  }
  .deals-right {
    width: 100%;
    height: 200px;
  }
  .text h2 {
    font-size: 20px;
  }
  .text h3 {
    font-size: 20px;
  }
  .newletter-box h2 {
    color: var(--white-color);
    margin-bottom: 30px;
    font-size: 24px;
  }
  .newletter-box {
    width: 100%;
  }
  .btn {
    padding: 16px 30px;
    transform: translateY(-2px);
  }
  .newletter-box input {
    width: 60%;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
  .f-link ul li {
    margin: 18px 0;
  }
  .footer-link {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-device-width: 576px) and (max-device-width: 766.98px) {
  .banner {
    margin-bottom: 0px;
  }
  .banner-content {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .banner-left h1 {
    font-size: 45px;
    margin-top: 20px;
  }
  .banner-left p {
    margin-top: 5px;
    font-size: 18px;
  }
  .section-title h2 {
    font-size: 40px;
  }
  .section-title p br {
    display: none;
  }
  .section-title p {
    font-size: 16px;
    margin-top: 5px;
  }
  .plant-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .flower-name,
  .flower-price {
    font-size: 16px;
  }
  .cart-btn {
    font-size: 12px;
  }
  .plant-area {
    padding-bottom: 50px;
  }
  .plant-seller {
    padding: 0;
  }
  .plant-seller-wrapper {
    display: block;
  }
  .plant-seller-right {
    margin-left: 0px;
  }
  .trusted {
    display: none;
  }
  .plant-seller-content h2 {
    font-size: 35px;
    margin: 10px 0;
  }
  .plant-seller-content h2 br {
    display: none;
  }
  .plant-seller-content p {
    margin-bottom: 16px;
    padding-right: 0px;
    font-size: 16px;
  }
  .deals-wrapper {
    display: block;
  }
  .deals-left {
    flex-direction: revert;
    width: 100%;
    margin-bottom: 10px;
  }
  .deals-right {
    width: 100%;
    height: 200px;
  }
  .deals-area {
    padding-bottom: 50px;
  }
  .newletter-box {
    width: 100%;
  }
  .btn {
    transform: translateY(-2px);
  }
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-logo p {
    font-size: 14px;
    padding-right: 30px;
  }
  .footer-link {
    display: flex;
    gap: 60px;
  }
  .f-link {
    width: 100%;
  }
  .f-link ul li {
    margin: 10px 0;
  }
  .f-link ul a {
    font-size: 14px;
  }
  .social-icon {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-device-width: 767px) and (max-device-width: 991.98px) {
  .banner-left h1 {
    font-size: 45px;
  }
  .banner-left p {
    font-size: 18px;
  }
  .banner-content {
    display: flex;
  }
  .banner-left {
    width: 100%;
  }
  .banner-left p {
    width: 450px;
  }
  .banner-rigt {
    width: 100%;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .section-title p {
    color: var(--body-font-color);
    font-size: 18px;
  }
  .flower-name,
  .flower-price {
    font-size: 20px;
  }
  .cart-btn {
    font-size: 15px;
  }
  .plant-seller {
    padding: 0;
  }
  .plant-seller-right {
    margin-left: 20px;
  }
  .plant-seller-content p {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 16px;
  }
  .plant-seller-content h2 {
    font-size: 32px;
  }
  .plant-seller-content h2 br {
    display: none;
  }
  .trusted {
    display: none;
  }
  .plant-seller-img img {
    width: 100%;
  }
  .deals-wrapper {
    display: flex;
  }
  .deals-left {
    width: 100%;
  }
  .newletter-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
  }
  .newletter-box h2 {
    font-size: 35px;
  }
  .footer-logo p {
    font-size: 18px;
  }
  .footer-wrapper {
    gap: 20px;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo p {
    width: auto;
  }
  .footer-link {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1399.98px) {
  .plant-seller-content p {
    padding-right: 0;
    font-size: 18px;
    margin-bottom: 11px;
  }
  .plant-seller-right {
    margin-left: 35px;
  }
  .trusted {
    width: 35%;
    position: absolute;
    top: -74px;
    right: -48px;
  }
}
