/* google fonts here  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Common css style sheet Start  */
:root {
  --body-font: "Inter", sans-serif;
  --heading-font: "Noto Serif", serif;
  --primary-color: #e95a08;
  --white-color: #ffffff;
  --black-color: #000000;
  --black-color-1: #222;
  --body-font-color: rgba(0, 0, 0, 0.5);
  --link-active-color: #252432;
  --normal-link-color: #8987a1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: var(--body-font);
  font-size: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: var(--heading-font);
}
h1 {
  font-size: 65px;
  font-weight: 700;
}
h2 {
  font-size: 50px;
  color: var(--black-color);
  font-weight: 700;
}
h3 {
  font-size: 40px;
  color: var(--white-color);
}
h4 {
  font-size: 22px;
  color: var(--black-color);
}
h5 {
  font-size: 20px;
  color: var(--white-color);
}
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 16px 45px;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 16px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.section-title {
  padding: 50px 0;
  text-align: center;
}
.section-title h2 span {
  color: var(--primary-color);
}
/* HEADER AREA START  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.menu {
  display: flex;
  align-items: center;
}
.logo a img {
  width: 100%;
  height: auto;
}
.menu-link ul li {
  display: inline;
  margin-right: 48px;
}

.menu-link ul li a {
  display: inline-block;
  color: var(--normal-link-color);
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}
.menu-link ul li a:hover {
  color: var(--primary-color);
}
.menu-link ul li a.active {
  color: var(--link-active-color);
}
.addto-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
/* HEADER AREA END  */
/* BANNER AREA START  */
.banner {
  margin-bottom: 50px;
}
.banner-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  padding-top: 100px;
}
.banner-rigt-img {
  display: flex;
  justify-content: end;
}
.banner-left h1 span {
  color: var(--primary-color);
}
.banner-left p br {
  display: none;
}
/* BANNER AREA START  */
/* PLANT AREA START  */
.plant-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.single-plant {
  text-align: center;
}
.single-plant img {
  width: 100%;
}
.flower-name {
  color: #111;
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: 500;
  line-height: 150%; /* 33px */
  margin-top: 30px;
}
.flower-price {
  color: #111;
  font-family: var(--body-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 33px */
  margin-bottom: 30px;
}
.cart-btn {
  text-transform: uppercase;
  background: var(--primary-color);
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
}
/* PLANT AREA END  */
